<a href="https://colab.research.google.com/github/Chaitanya2304/Assignment-1/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1st question

In [ ]:
y=int(input("enter the year;"))
A=["monkey","rooster","dog","pig","rat","ox","tiger","rabbit","dragon","snake","horse","sheep"]
a=int(y%12)
print(A[a])

enter the year;2001
snake

2nd question

In [ ]:
dist=int(input("enter the distance"))
weight=int(input("enter the weight"))
if dist>=500:
    if weight>=100:
        charge=dist*5
    elif weight>=10 and weight<100:
        charge=dist*6
    else:
        charge=dist*7
else:
    if weight>=100:
        charge=dist*8
    else:
        charge=dist*5
print("total charge = ",charge)

enter the distance80
enter the weight55
total charge =  400

3rd question

In [ ]:
s=625
c=750
up=850
b=100
x=int(input('type of seat:'))
print('do you pay through cash or card')
y=str(input('payment mode:'))
while y=='card':
    z=x*5/100
    cost=x-z
    print('cost of ticket:',cost)
else:    
    if y=='cash':
        w=x*10/100
        cost=x-w
        print('cost of ticket:',cost)

type of seat:850
do you pay through cash or card
payment mode:cash
cost of ticket: 765.0

4th question

In [ ]:
water=int(input("enter amount of water:"))
initemp=int(input("enter the initialtemp:"))
fintemp=int(input("enter the finaltemp:"))
energy=water*(fintemp-initemp)*4184
print("energy in joules:\n",energy)

enter amount of water:1000
enter the initialtemp:25
enter the finaltemp:100
energy in joules:
 313800000

5th question

In [ ]:
winter=["december","january","february"]
spring=["march","april","may"]
summer=["june","july","august"]
autumn=["september","october","november"]
month=input("enter the month :: ")
if month in winter:
    print("it is a winter season")
elif month in spring:
    print("it is a spring")
elif month in summer:
    print("it is a summer")
else:
    print("it is a autumn")

enter the month :: april
it is a spring

6th question

In [ ]:
u_wt=int(input('enter your weight in pounds:'))
u_ht=int(input('enter your height in inches:'))
wt_kg=0.4535*u_wt
ht_mt=0.0254*u_ht
BMI=wt_kg/(ht_mt)*(ht_mt)
BMI
if BMI<18.5:
    print('under weight')
elif 18.5<=BMI<25.0:
    print('Normal')
elif 25.0<=BMI<30.0:
    print('over weight')
elif 30.0<=BMI:
    print('obesity')

enter your weight in pounds:26
enter your height in inches:150
under weight

7th question

In [ ]:
num=int(input("enter a number between 100 and 1000 :: "))
rem=0
sum=0
if(num>100 and num<1000):
    while num>0:
        rem=num%10
        sum=sum+rem
        num=num//10
    print(sum)
else:
    print("the number entered is not in the range")

enter a number between 100 and 1000 :: 111
3

8th question

In [ ]:
max=int(input('enter the max value:'))
min=int(input('enter the min value'))
print('palindrome numbers bbetween %d and %d are:',(min,max))
for num in range (min,max+1):
    temp=num
    rev=0
    while temp>0:
        rem=temp%10
        rev=(rev*10)+rem
        temp=temp//10
    if num==rev:
        print('%d'%num,end=' ')

enter the max value:50
enter the min value20
palindrome numbers bbetween %d and %d are: (20, 50)
22 33 44

9th question

In [ ]:
rem=0
for i in range(1,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev+rem**3
        n=n//10
    if i==rev:
        print(i)

1
153
370
371
407

10th question

In [ ]:
for i in range(1,100):
    if i%3==0 and i%5==0:
        print("fizz buzz")
    elif i%3==0:
        print("fizz")
    elif i%5==0:
        print("buzz")

fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz
buzz
fizz
fizz buzz
fizz
buzz
fizz
fizz

11th question

In [27]:
h=int(input("enter height of the well :: "))
u=int(input("enter the meters spider climb up for each sstep :: "))
d=int(input("enter the meters the spider slips down for each step :: "))
s=0
t=0
p=0
while t<=h:
    t=t+u
    if(t<=h):
        t=t-d
    s=s+1
print(s)

enter height of the well :: 50
enter the meters spider climb up for each sstep :: 40
enter the meters the spider slips down for each step :: 30
3